.root {
  /* height: calc(100vh - var(--nav-height)); */
  margin-bottom: 4rem;
  position: relative;
}
.panel.open {
  left: 0;
  width: 420px;
  max-width: 420px;
}

.panel {
  left: -150%;
  height: 100vh;
  background-color: var(--background);
  border-right: 1px solid var(--accents-2);
  transition: left 0.5s ease;
  z-index: 9;
  position: absolute;
  width: 0;
  min-width: unset;
}

.panelOpen {
  margin-left: 440px;
}
.slidingWrapper {
  transition: all 0.3s;
}
